<!DOCTYPE html>
<html lang="en">
<%- include('../components/head', {title: "Zeus Proxy - Trusted Residential Proxy Provider for Multiple Uses" ,
    description: "Discover Zeus Proxy, your trusted residential proxy service with a vast pool of 100M+ premium IPs worldwide. Tailored residential proxies for efficient account management, extensive data collection, and web scraping tasks."
    , more: 'home' }) %>

    <body>
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5K5NN6D5" height="0" width="0"
                style="display:none;visibility:hidden"></iframe></noscript>
        <%- include('../components/header') %>
            <main id="home" class="main">
                <div class="home">
                    <div class="banner">
                        <div class="col-xl-7 col-lg-7 col-md-12 col-12 px-0 banner-left">
                            <h1 class="title d-lg-block d-none">
                                Powerful
                                <br class="" />
                                Residential Proxies
                                <br class="" />
                                For Multiple Uses
                            </h1>
                            <h2 class="title d-block d-lg-none">
                                Powerful Residential Proxies For Multiple Uses
                            </h2>
                            <p class="subtitle">
                                The finest platform for proxy services, offering 100M+ residential proxies, including
                                HTTP(S) and SOCKS5 proxies.
                                Ideal for multiple account management, large-scale data collection
                                and web scraping.
                            </p>
                            <div class="text-lg-start text-center">
                                <a id="go-dashbord" href="https://app.zeusproxy.com/" target="_blank">
                                    <img src="/images/btn-start.gif" alt="zeusproxy" />
                                </a>
                            </div>
                            <!-- <a id="go-dashbord" class="btn-start">
                            GET STARTED
                            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="16" viewBox="0 0 23 16"
                                fill="none">
                                <path opacity="0.8" d="M15.5 2L21.5 8L15.5 14" stroke="white" stroke-width="3"
                                    stroke-linecap="round" stroke-linejoin="round" />
                                <path opacity="0.5" d="M8.75 2L14.75 8L8.75 14" stroke="white" stroke-width="3"
                                    stroke-linecap="round" stroke-linejoin="round" />
                                <path opacity="0.5" d="M8.75 2L14.75 8L8.75 14" stroke="white" stroke-width="3"
                                    stroke-linecap="round" stroke-linejoin="round" />
                                <path opacity="0.2" d="M2 2L8 8L2 14" stroke="white" stroke-width="3"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </a> -->
                        </div>
                        <div class="bannerRight">
                            <img class="zeusImg" src="/images/zeusproxy.png" alt="zeusproxy" />
                            <% for (let index=0; index < 5; index++) { %>
                                <div class="icon-ip icon-ip-<%= index + 1 %>">
                                    <img class="ip" src="/images/icon-ip.png" alt="zeusproxy" />
                                    <img class="point" src="/images/ip_motion.gif" alt="zeusproxy" />
                                </div>
                                <% } %>

                        </div>
                    </div>
                    <div class="bestFeature">
                        <div class="bestItem">
                            <div class="row-align-center">
                                <div class="best red">
                                    <div class="">
                                        <img src="/images/icon-unlimited.png" alt="Unlimited Port" />
                                    </div>
                                </div>
                                <div class="line"></div>
                            </div>
                            <p>Unlimited Port</p>
                        </div>
                        <div class="bestItem">
                            <div class="row-align-center">
                                <div class="best yellow">
                                    <div class="">
                                        <img src="/images/icon-key.png" alt="Access to restricted content" />
                                    </div>
                                </div>
                                <div class="line d-sm-block d-none"></div>
                            </div>
                            <p>Access to restricted content</p>
                        </div>
                        <div class="bestItem">
                            <div class="row-align-center">
                                <div class="best green">
                                    <div class="">
                                        <img src="/images/icon-price.png" alt="Affordable price" />
                                    </div>
                                </div>
                                <div class="line"></div>
                            </div>
                            <p>Affordable price</p>
                        </div>
                        <div class="bestItem">
                            <div class="row-align-center">
                                <div class="best mint">
                                    <div class="">
                                        <img src="/images/icon-support.png" alt="24/7 Support" />
                                    </div>
                                </div>
                            </div>
                            <p>24/7 Support</p>
                        </div>
                    </div>
                </div>
                <div class="section" style="background-color:  #FFFEFD;">
                    <h3 id="usecases" class="titleSection section">
                        Use Cases
                    </h3>
                    <p class="subtitle-section px-3">“FRESH” IPs can bypass many websites, even the restricted ones.</p>
                    <div class="usecases">
                        <div class="usecasesItem">
                            <img class="icon" src="/images/icon-marketing.png" alt="Marketing Social Media" />
                            <div class="">
                                <h6 class="name">Marketing Social Media</h6>
                                <p>
                                    Maximize brand influence by reaching clients beyond geographical
                                    boundaries. Manage multiple social media accounts effortlessly and
                                    expand into new markets without restrictions.
                                </p>
                            </div>
                        </div>
                        <div class="usecasesItem"> <img class="icon" src="/images/icon-scrap.svg"
                                alt="Web Scraping & Crawling" />
                            <div class="">
                                <h6 class="name">Web Scraping & Crawling</h6>
                                <p>
                                    Empower web scrapers and crawlers to browse the internet without
                                    encountering IP blocks and CAPTCHAs. Practical in Price Monitoring
                                    and Travel Fare Aggregation.
                                </p>
                            </div>
                        </div>
                        <div class="usecasesItem">
                            <img class="icon" src="/images/icon-airdrop-game.png" alt="Airdrop & Game" />
                            <div class="">
                                <h6 class="name">Airdrop & Game</h6>
                                <p>
                                    Manage large number of accounts on Gleam, Discord, Twitter, etc to
                                    increase your chance of earning wanted tokens.
                                </p>
                            </div>
                        </div>
                        <div class="usecasesItem">
                            <img class="icon" src="/images/icon-commerce.png" alt="E-commerce" />
                            <div class="">
                                <h6 class="name">E-commerce</h6>
                                <p>
                                    Fast, stable proxy and a wide range of IPs around the world to
                                    assist both buyers and sellers on E-commerce sites.
                                </p>
                            </div>

                        </div>
                        <div class="usecasesItem">
                            <img class="icon" src="/images/icon-affiliate.png" alt="Affiliate Testing" />
                            <div class="">
                                <h6 class="name">Affiliate Testing</h6>
                                <p>
                                    Expand your options by accessing a wide array of proxies spanning
                                    multiple countries across the globe. With this extensive proxy
                                    network at your disposal, you can effortlessly verify affiliate
                                    test links and websites, ensuring their reliability and
                                    performance.
                                </p>
                            </div>
                        </div>
                        <div class="usecasesItem">
                            <img class="icon" src="/images/icon-ad-verification.png" alt="Ad Verification" />
                            <div class="">
                                <h6 class="name">Ad Verification</h6>
                                <p>
                                    Using proxy navigates ads to be shown to real people, in the right
                                    geography, and in safe and suitable environments, preventing ad
                                    frauds from damaging your campaign. This proactive approach helps
                                    prevent ad fraud and safeguards the integrity of your campaign.
                                </p>
                            </div>
                        </div>
                        <div class="usecasesItem">
                            <img class="icon" src="/images/icon-seo.png" alt="SEO Monitoring" />
                            <div class="">
                                <h6 class="name">SEO Monitoring</h6>
                                <p>
                                    SEO monitoring improves website performance by tracking
                                    visibility, rankings, and brand strength on search engines.
                                    Enhance brand loyalty, conversions, and stay ahead of the
                                    competition with unrestricted SEO data gathering.
                                </p>
                            </div>
                        </div>
                        <div class="usecasesItem">
                            <img class="icon" src="/images/icon-research.png" alt="Market Research" />
                            <div class="">
                                <h6 class="name">Market Research</h6>
                                <p>
                                    Stay ahead of the competition by continuously gathering and
                                    researching market data. Evaluate your competition effectively and
                                    stay updated on even the smallest market changes.
                                </p>
                            </div>

                        </div>


                    </div>
                </div>
                <div class="features">
                    <h3 id="features" class="titleSection ">
                        Best Features
                    </h3>
                    <p class="subtitle-section">
                        Enjoy lightning-fast, top-notch proxies that guarantee high quality, stability, and premium
                        performance.
                    </p>
                    <div class="features-content">
                        <div class="feature-item featureOne">
                            <div class="feature-icon">
                                <img src="/images/icon-ips.png" alt="100M+ Residential IPs" />
                            </div>
                            <h6 class="featureTitle">100M+ Residential IPs</h6>
                            <p>Huge IP pool with IPs spreading all over the world</p>
                        </div>
                        <div class="feature-item featureTwo">
                            <div class="feature-icon">
                                <img src="/images/icon-fast-stable.png" alt="Fast & Stable" />
                            </div>
                            <h6 class="featureTitle">Fast & Stable</h6>
                            <p>Lightning-fast and unbreakable connection</p>
                        </div>
                        <div class="feature-item featureThree">
                            <div class="feature-icon">
                                <img src="/images/icon-uptime.png" alt="99.99% Uptime" />
                            </div>
                            <h6 class="featureTitle">99.99% Uptime</h6>
                            <p>High quality IP resources</p>
                        </div>
                        <div class="feature-item featureFour">
                            <div class="feature-icon">
                                <img src="/images/icon-friendly.png" alt="Customized Sticky Session" />
                            </div>
                            <h6 class="featureTitle">Customized Sticky Session</h6>
                            <p>Adjustable duration between each rotation</p>
                        </div>
                        <div class="feature-item featureItem">

                            <div class="feature-icon">
                                <img src="/images/icon-target.png" alt="Precise Targeting" />
                            </div>
                            <h6 class="featureTitle">Precise Targeting</h6>
                            <p>Precise geographic targeting by Country/State/City</p>
                        </div>
                        <div class="feature-item featureItem">
                            <div class="feature-icon">
                                <img src="/images/icon-bandwidth.png" alt="Unlimited Port" />
                            </div>
                            <h6 class="featureTitle">Unlimited Port</h6>
                            <p>Infinite Port</p>
                        </div>
                        <div class="feature-item featureSeven">
                            <div class="feature-icon">
                                <img src="/images/icon-support.png" alt="24/7 Customer Support" />
                            </div>
                            <h6 class="featureTitle">24/7 Customer Support</h6>
                            <p>Dedication to meeting customer requirements</p>
                        </div>
                        <div class="feature-item featureEight">
                            <div class="feature-icon">
                                <img src="/images/icon-flexible.png" alt="Flexible" />
                            </div>
                            <h6 class="featureTitle">Flexible</h6>
                            <p>Compatibility with both HTTP/HTTPS and SOCKS5 protocols</p>
                        </div>
                    </div>
                </div>
                <%- include('../components/price-package', {packagePrices}) %>
                    <%- include('../components/faq', {questions}) %>
            </main>
            <%- include('../components/footer') %>
    </body>

</html>