<%- include('../../components/head', {title: "Zeus Proxy - Blog" ,
    description: ""
    , more: '' }) %>
<%- include('../../components/header') %>
<style>
    .blog {
        .search-content:focus {
            outline: none;
            border-color: transparent;
        }
    }
    .container-blog {
        .container-wrapper {
            @media (min-width: 1400px) {
                max-width: 1400px;
            }
        }
        .blog-content {
            margin-left: 4rem;
        }
        .blog-image {
            height: 264px;
            margin-right: 4rem;
        }
        .blog-btn {
            padding-left: 18px; 
            padding-top: 5px; 
        }
        .blog-title {
            cursor: pointer;
        }
}
</style>
<div class="blog">
    <div class="blog-wrap container">
        <div class="header-wrap">
            <div class="title-wrap">
                <div class="title">
                    <h3 class="title-blog">Everything you need to know</h3>
                    <img src="../images/icon-vector.svg"/>
                </div>
            </div>
            <div class="title-wrap">
                <span class="title-blog">about <b class="title-blog" style="color: #2A86FF;">Proxy</b>, and more.</span>
            </div>
        </div>
        <p class="sub-title">You are a newbie? Don’t worry. Zeus proxy is here for you.</p>
        <div class="search-wrap">
            <img class="icon" src="../images/icon-search.svg" alt="image-search"/>
            <input class="search-content" placeholder="What are you looking for?">
            </input>
        </div>
    </div>

    <div class="container-blog">
        <div class="container container-wrapper">
            <% for (blog of blogs) { %>
            <div class="blog-item">
                <div class="blog-content">
                    <h3 id="goToPost" class="blog-title"><%= blog.title %></h3>
                    <p class="blog-detail"><%= blog.description %></p>
                    <div class="blog-button">
                        <div class="blog-btn">
                            <button class="btn">proxy</button>
                        </div>
                        <div class="blog-btn">
                            <button class="btn">proxy</button>
                        </div>
                    </div>
                </div>
                <div class="blog-image"></div>
            </div>
            <% } %>
        </div>
    </div>
    
</div>
<%- include('../../components/footer') %>
<script>
    document.getElementById('goToPost').addEventListener('click', function() {
      window.location.href = '/post';
    });
</script>