<head>
  <meta charset="utf-8">
  <meta httpEquiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>
    <%= title %>
  </title>
  <meta property="og:type" content="web" />
  <meta name="title" content="<%= title %>" />
  <meta name="description" content="<%= description %>" />
  <meta property="url" content="https://zeusproxy.com" />
  <meta name="og:title" content="<%= title %>" />
  <meta name="og:description" content="<%= description %>" />
  <meta property="og:url" content="https://zeusproxy.com" />
  <meta name="twitter:title" content="<%= title %>" />
  <meta name="twitter:description" content="<%= description %>" />
  <meta property="twitter:url" content="https://zeusproxy.com" />
  <meta name="keywords"
    content="zeusproxy, proxy, residential proxy, residential proxies, proxy provider, multiple account, web scraping, data collection" />
  <meta name="image" content="https://zeusproxy.com/banner.png" />
  <meta name="thumbnail" content="https://zeusproxy.com/banner.png" />
  <meta property="og:image" content="https://zeusproxy.com/banner.png" />
  <meta name="twitter:image" content="https://zeusproxy.com/banner.png" />

  <link rel="icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="https://zeusproxy.com/apple-touch-icon.png" />

  <meta name="copyright" content="ZeusProxy" />
  <meta name="author" content="ZeusProxy" />
  <meta name="image:alt" content="ZeusProxy" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="ZeusProxy" />

  <meta property="og:image:alt" content="ZeusProxy" />
  <meta property="og:locale" content="en_US" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@zeusproxy" />
  <meta name="twitter:creator" content="@zeusproxy" />
  <meta name="twitter:image:alt" content="ZeusProxy" />
  <meta property="article:publisher" content="https://www.facebook.com/zeusproxyglobal" />
  <link rel="canonical" href="https://zeusproxy.com/" />
  <script type="application/ld+json">
    {"@context":"https://schema.org","@type":"WebSite","name":"Zeus Proxy","mainEntityOfPage":{"@type":"WebSite","@id":"https://zeusproxy.com/"},"headline":"zeusproxy","description":"","image":"https://zeusproxy.com/logo.png","author":{"url":"https://zeusproxy.com/","@type":"Organization","name":"ZeusProxy"},"publisher":{"@type":"Organization","name":"ZeusProxy","logo":{"@type":"ImageObject","url":"https://zeusproxy.com/logo.png"}},"datePublished":""}
  </script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/homepage.css">
  <script src="/scripts/bootstrap.bundle.min.js"></script>
</head>